<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form action="/inscription" method="post">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Connectez vous avec les réseaux</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-linkedin-in"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Ou</p>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="prenom" name="prenom" class="form-control form-control-lg" placeholder="Prénom" />
            <label class="form-label" for="form3Example3">Prénom</label>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="nom" name="nom" class="form-control form-control-lg" placeholder="Nom" />
            <label class="form-label" for="form3Example3">Nom</label>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="email" name="email" class="form-control form-control-lg"
              placeholder="Entrez une adresse Email valide" />
            <label class="form-label" for="form3Example3">Adresse Email</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="password" name="password" class="form-control form-control-lg"
              placeholder="Entrez un mot de passe" />
            <label class="form-label" for="form3Example4">Mot de passe</label>
          </div>

          <div class="form-outline mb-3">
            <input type="file" id="avatar" name="avatar" class="form-control form-control-lg"
              placeholder="Choisir une image" />
          </div>

          <div class="form-outline mb-3">
            <input type="text" iid="mobile" name="mobile" class="form-control form-control-lg" placeholder="Mobile" />
            <label class="form-label" for="form3Example4">Mobile</label>
          </div>

          <div class="form-outline mb-3">
            <input type="text" id="adresse" name="adresse" class="form-control form-control-lg" placeholder="Adresse" />
            <label class="form-label" for="form3Example4">Adresse</label>
          </div>

          <div class="form-outline mb-3">
            <input type="text" id="ville" name="ville" class="form-control form-control-lg" placeholder="Ville" />
            <label class="form-label" for="form3Example4">Ville</label>
          </div>

          <div class="form-outline mb-3">
            <input type="text" id="codePostal" name="codePostal" class="form-control form-control-lg"
              placeholder="Code Postal" />
            <label class="form-label" for="form3Example4">Code Postal</label>
          </div>

          <div class="form-outline mb-3">
            <input type="text" id="pays" name="pays" class="form-control form-control-lg" placeholder="Pays" />
            <label class="form-label" for="form3Example4">Pays</label>
          </div>


          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">S'inscrire</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Vous avez un compte ? <a href="/connexion"
                class="link-danger">Se connecter</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>