<section class="mdpOublie">
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar_mdp">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">OnlineCourses</a>
    </div>
  </nav>

  <div class="forgotPassord">
    <h3>Réinitialisation de votre mot de passe</h3>
    <hr>
    <p>Entrez votre email et on vous envera un lien pour réinitialiser votre mot de passe</p>
    <form action="/resetPassword" method="post">
      <div class="inputMail">
        <label for="">*Email</label><br>
        <input type="email" name="mdpOublie" id="mdpOublie"><br>
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </div>
    </form>
  </div>
</section>