@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/************** GENERAL *********************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/************** FIN GENERAL *********************/

/************** NAVBAR *********************/

/* .navbar {
  width: 100%;
  height: 64px;
  padding: 10px 35px;
  z-index: 1;
} */

.navbar-toggler{
  color: #000000 !important;
}


.menu1{
display: flex;
flex-direction: row;

align-items: center;
place-content: center space-between;

}

.menu1 li a{
margin-right: 30px;
justify-content: center;
align-items: center;
}

.menu2 li a{
margin-right: 30px;
color: black;
}

.btnCommencer{
  color: white !important;
}

a.left
{
  position: relative;
}

a.left:before {
content: "";
position: absolute;
width: 0;
height: 2px;
bottom: 0;
left: 0;
background-color: black;
visibility: hidden;
transition: all 0.3s ease-in-out;
}

a.left:hover:before {
visibility: visible;
width: 90%;
}

.menu2{
display: flex;
justify-content: end;
align-items: center;
}


.navbar-brand{
  margin-left: 30px;
  color: black !important;
}

.navbar ul li a{
  color: black !important;

}

/************** FIN NAVBAR *********************/

/************** HEADER *********************/

.header{
  position: relative;
  height: 100vh;
  background: url('../Ressources/header.jpg');
  background-repeat: no-repeat;

}

.overlay{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.text-white{
  margin-top: 100px;
  font-weight: bold;
  z-index: 11;
}

.main_text{
  width: 600px;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main_text{
    width: 100%;
    font-size: 30px;
  }
}

/************** FIN HEADER *********************/

/************** MINIATURES *********************/

.cours{
  text-align: center;
  box-sizing: border-box;
  place-content: center;
  align-items: center;
  transition: 0.5s;
}

.cours:hover{
  transform: scale(1);
  background: #2196f3;
  color: white;
}

.titre_principale{
    text-align: center;
    margin-top: 50px;
    color: black;
    font-weight: bold;
}

.paragraphe_principal{
  text-align: center;
  font-size: 20px;
}

.container img{
    margin-top: 50px;
}
/************** FIN MINIATURES *********************/

.form-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-center button{
  margin-top: 50px;
}
/************** CONNEXION *********************/


#email::placeholder{
  color: black;
}



  .divider:after,
  .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }
  .h-custom {
  height: calc(100% - 73px);
  }
  @media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
  }


/************** FIN CONNEXION *********************/

/************** INSCRIPTION *********************/

#prenom::placeholder{
  color: black;
}

#nom::placeholder{
  color: black;
}

  .divider:after,
  .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }
  .h-custom {
  height: calc(100% - 73px);
  }
  @media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
  }

/************** FIN INSCRIPTION *********************/

/************** 404 *********************/
#notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg.jpg');
    background-size: cover;
  }
  
  #notfound .notfound-bg:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(122,55,118,1) 35%, rgba(0,212,255,1) 100%);
    opacity: 0.7;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 910px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }
  
  .notfound .notfound-404 {
    position: relative;
    height: 200px;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 220px;
    font-weight: 900;
    margin: 0px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  
  .notfound h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  .notfound .home-btn, .notfound .contact-btn {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid transparent;
    text-transform: uppercase;
    padding: 13px 25px;
    font-size: 18px;
    border-radius: 40px;
    margin: 7px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound .home-btn:hover, .notfound .contact-btn:hover {
    opacity: 0.9;
  }
  
  .notfound .home-btn {
    color: rgba(255, 0, 36, 0.7);
    background: #fff;
  }
  
  .notfound .contact-btn {
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
  }
  
  .notfound-social {
    margin-top: 25px;
  }
  
  .notfound-social>a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0px 6px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .notfound-social>a:hover {
    color: rgba(255, 0, 36, 0.7);
    background-color: #fff;
    border-radius: 50%;
  }
  
  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 h1 {
      font-size: 182px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
      height: 146px;
    }
    .notfound .notfound-404 h1 {
      font-size: 146px;
    }
    .notfound h2 {
      font-size: 16px;
    }
    .notfound .home-btn, .notfound .contact-btn {
      font-size: 14px;
    }
  }
  
/************** FIN 404 *********************/

/************** ADMIN MAIN *********************/

.main_admin{
  display: flex;
  flex-direction: column;

}

.left_container{
  flex: 6;
}

.listContainer{
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}

.main_text_admin{
  text-align: center;
  color: black;
}

/************** FIN ADMIN MAIN *********************/

/************** ADMIN COURS *********************/

#container {
  width: 1000px;
  margin: 20px auto;
}
.ck-editor__editable[role="textbox"] {
  /* editing area */
  min-height: 200px;
}
.ck-content .image {
  /* block images */
  max-width: 80%;
  margin: 20px auto;
}

/************** FIN ADMIN COURS *********************/

/************** FOOTER *********************/

footer{
    width: 100%;
    height: 400px;
    background-color: #7A3776;
    color: white;
}

footer .footer{
    width: 460px;
    text-align: center;
}

footer ul{
    display: flex;
}

footer .link ul li{
    list-style: none;
}

footer .link ul li a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

/************** FIN FOOTER *********************/

@media screen and (max-width: 768px){
  .search_bar{
    display: none;
  }

  .text_para1{
    font-size: 10px;
  }

  .link{
    font-size: 10px;
  }

  .contact{
    display: flex;
    flex-direction: column;
  }

  .nom_Prenom{
    width: 100vw;
  }

  .email{
    width: 100vw;
  }

  .objet{
    width: 100vw;
  }

  .description{
    width: 100vw;
  }

  .social_network_btn{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

/************** MOT DE PASSE OUBLIE *********************/
.mdpOublie{
  width: 100%;
  height: 100vh;
  background-color: #227DBA;

  background-image: url('../Ressources/mountain.svg');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar_mdp{
  background-color: #0F5276 !important;
}

.forgotPassord{
  width: 450px;
  height: 380px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.forgotPassord h3{
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}

.forgotPassord hr{
  text-align: center;
  width: 250px;
  margin: 0 auto;
}
.inputMail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgotPassord p{

  margin-top: 30px;
  color: #000000; 
}

.forgotPassord input{
  width: 250px;
}

.inputMail button{
  width: 150px;
}

/************** FIN MOT DE PASSE OUBLIE *********************/